# Pomoćne datoteke LaTeX-a
*.aux

*.lof
*.log

*.lot

*.out

*.synctex.gz

*.toc

# Da se ne updateaju PDF-ovi koje generiramo iz LaTeX-a prije završne verzije za predaju
Dokumentacija/*.pdf

# Kopirano iz https://gitlab.com/hrvojesimic/progi-project-teams-backend
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
#-----------------------------------------------------------------------------
